.container {
  margin-top: 25px;
  /* background-color: rgba(189, 110, 110, 0.547); */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.skeleton {
  cursor: pointer;
  height: 450px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3.2px solid transparent;
  border-radius: 10px;
  border-image: linear-gradient(90deg, #bf1616, #f2f1ef, #ffd013) 1;
}



.skeleton-img {
  height: 80%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, #222 25%, #333 37%, #222 63%);
  animation: shimmer 1.5s infinite;

  img {
    height: 100%;
    width: 100%;
  }
}

.skeleton-line {
  height: 14px;
  margin: 8px 0;
  border-radius: 6px;
  background: linear-gradient(90deg, #222 25%, #333 37%, #222 63%);
  animation: shimmer 1.5s infinite;
}

.skeleton-line.title {
  height: 18px;
  width: 90%;
}

.skeleton-line.short {
  width: 60%;
}

@keyframes shimmer {
  0% {
    background-position: -300px 0;
  }

  100% {
    background-position: 300px 0;
  }
}