.movietitle{
    font-size: 2.2rem;
    text-align: center;
}
.Casts{
    padding-left: 5px;
    margin-top: 10px;
    font-size: 2.4rem;
    text-align: center;
}
.allacters{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}
.moviefulldetail{
    margin-top: 20px;
    padding: 10px 15px;
    h2{
        color: rgb(33, 119, 33);
    }
    p{
        font-size: 1.2rem;
        font-weight: 700;
        padding-top: 5px;
        span{
            font-size: 1.1rem;
            font-weight: 500;
        }
    }
}
.overview{
    width: 100%;
    margin-top: 5px;
    p{
        font-size: 1.1rem;
        font-weight: 500;
        font-family:sans-serif;
    }
}