.movietitle{
    font-size: 2.2rem;
    text-align: center;
}
.overview{
    margin-top: 1.2rem;
    font-size: 1.2rem;
    padding-left: 5px;
}
.Casts{
    padding-left: 5px;
    margin-top: 10px;
    font-size: 2.4rem;
    text-align: center;
}
.allacters{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}
